.wrapper {
  width: 100%;
  height: 804px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.date {
  color: #000000;
  font-size: 1.6rem;
  font-weight: 600;
}
.date {
  margin-bottom: 10px;
}
.item {
  cursor: pointer;
  padding: 10px 6px;
  border-radius: 4px;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
  background-color: #eef1f4;
}
.image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}
.text-1 {
  color: #050505;
  font-weight: 600;
  font-size: 1.6rem;
  margin-right: 4px;
}
.text-2 {
  color: #050505;
  font-weight: 400;
  font-size: 1.6rem;
}
.text-3 {
  display: block;
  color: #4e4b66;
  font-weight: 400;
  font-size: 1.3rem;
}
.follow {
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 6px;
  width: 95px;
  height: 32px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 7px 4px 8px;
  &:hover {
    cursor: pointer;
    background-color: rgba(112, 168, 241, 0.3);
  }
}
.follow-text {
  font-weight: 600;
  font-size: 1.6rem;
}
