.wrapper {
    position: sticky;
    top: 882px;
    width: 100%;
    display: flex;
    height: 78px;
    justify-content: space-between;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
}

.title {
    font-weight: 400;
    font-size: 14px;
}
.active {
    color: var(--primary);
}
