.wrapper {
  width: 100%;
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  display: flex;
}
.heart {
  display: flex;
  align-items: center;
  color: #ed2e7e;
}
.comment {
  display: flex;
  align-items: center;
  color: #000000;
}
.flag {
  color: var(--primary);
}
