.wrapper {
    width: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    margin: 20px 0 78px 0;
}
.title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.8rem;
    color: #000000;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.topic {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #000000;
}
.see-all {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #000000;
}
.background {
    background-color: white;
}
